@import "custom";
@import url('https://fonts.googleapis.com/css?family=Cabin:400');

$font-family-sans-serif: 'Helvetica', sans-serif;

@import "~bootstrap/scss/bootstrap";

body {
  opacity: 1;
  transition: 1s opacity;
}

header {
  background-color: rgba(255,255,255,0.3); 
}

header::after {
  content: "";
  background-position: center; 
  background-image:url(https://static1.squarespace.com/static/545e6a9fe4b08eea0ac85910/5b929558aa4a99c43512d248/5b94cfb9b8a045c01cd30443/1541112181552/P5251627edit.jpg?format=2500w);
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.temporal-logo {
  height: 1.5em;
  width: auto;
  //margin-top: -0.2em;
  //vertical-align: middle;
  margin-right: 0.2em;
}

.navbar-brand 
{
  font-size: 1.25em;
  display: flex;
  align-items:center;
  .temporal-logo {
    margin-right: 0.4em;
  }
}

.brandtype {
  font-family: 'Cabin';
  font-weight: 200;
  letter-spacing: 0.4em;
  vertical-align: middle;
}

header {
  h1 {
    display: flex;
    align-items:center;
    font-size: 2em;
  }
  .lead {
    text-shadow: $gray-200 0.01em 0.01em 0.8em;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica';
  font-weight: 100;
  letter-spacing: 0.06em;
} 

#teaser {
  margin-top: -7.5em;
  text-shadow: $gray-200 0.01em 0.01em 0.8em;
}

section#contact {
  margin-top: 3em;
  background-color: $gray-300;
  color: $gray-900;
}

section#copyright {
  background-color: $gray-900;
  color: $gray-400;
}

@include media-breakpoint-up(sm) {
  header h1 {
    font-size: 2.5em;
  }
}

@include media-breakpoint-up(md) {
  header h1 {
    font-size: 4em;
  }

  #logo {
    margin-left: -0.5em;
  }
}

@include media-breakpoint-up(lg) {

  header h1 {
    font-size: 5em;
  }

  #logo {
    //width: 6em;
  }

}
