@import "custom";
@import url('https://fonts.googleapis.com/css?family=Cabin:400,400i,500,500i,600,600i,700,700i');

//$font-family-sans-serif: 'Cabin', sans-serif;

@import "~bootstrap/scss/bootstrap";

.navbar-brand img {
  margin-top: -0.2em;
}

#logo {
  width: 5.5em;
}

.brandtype {
  font-family: 'Cabin';
  font-weight: 200;
  letter-spacing: 0.4em;
}

header .brandtype {
  letter-spacing: 0.4em;
  font-size: 2em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cabin';
  letter-spacing: 0.06em;
} 

@include media-breakpoint-up(sm) {

  header .brandtype {
    font-size: 3em;
  }

  #logo {
    margin-top: -0.6em;
    width: 4em;
    margin-left: 0em;
    margin-right: 1.6em;
  }
}

@include media-breakpoint-up(md) {
  header .brandtype {
    font-size: 4em;
  }

  #logo {
    width: 5em;
    margin-left: -2.5em;
  }
}

@include media-breakpoint-up(lg) {

  header .brandtype {
    font-size: 5em;
  }

  #logo {
    width: 6em;
  }

}
