@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Cabin:400');
$font-family-sans-serif: 'Helvetica', sans-serif;

$font-path: '../fonts/';
@font-face {
    font-family: 'Jellee';
    font-weight: 300;
    font-style: normal;
    src: url('#{$font-path}Jellee-Roman.ttf') format('truetype')
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  background-color: $background-color;
  color: $text-color;
}

html, body {
  // no horizontal scroll bars no matter what
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 14px;
  font-weight: 200;
  font-family: $font-family-sans-serif;

  @media screen and (min-width: $sm-breakpoint) {
    font-size: 16px;
  }

  @media screen and (min-width: $xl-breakpoint) {
    font-size: 18px;
  }

}

// mobile first
#three {
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
}

#splash { 
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);

  width: 100%;
  display: flex;
  flex-flow: column wrap;

  h1.brandtype {
    padding: 1rem;
    font-family: /*'Cabin',*/ 'Jellee';
    font-weight: 300;
    //letter-spacing: .05em;
    width: 100%;
    font-size: 1.4em;
    color: black;
  }

  nav {
    padding: 1rem;
    width: 100%;
    align-self: flex-start;
    ul {
      list-style: none;
      padding: 0;
      
      li {
        padding: 0.2em 0;
        a {
          color: $headline-color;
          letter-spacing: .05em;
          font-weight: 400;
          text-decoration: solid underline;
          &:hover {
            text-decoration-color: lighten($background-color, 10%);
            
          }
          //text-decoration: none;
        }
      }
    }
  }

  .tagline {
    h2 {
      padding: 1rem;
      font-weight: 100;
    }

    //align-self: flex-end;
    margin-top: auto;
    width: 100%;
  }

  @media screen and (min-width: $sm-breakpoint)  {
    flex-flow: row wrap;
    h1.brandtype {
      flex: 1;
    }
    nav {
      width: auto;
      
      ul li {
        display: inline-block;
        padding-left: 0.8em;
      }
    }
    .tagline h2{
        width: 40%;
    }
  }

  @media screen and (max-height: 30em)  {
    .tagline h2 {
      font-size: 1.0em;
    }
  }

  @media screen and (min-width: $md-breakpoint) {
    .tagline h2{
      width: 48%;
    }
  }
}

main {
  background-color: lighten($background-color, 2%);

  section {
    h1, h2, h3 {
      color: $headline-color;
    }

    p {
      font-size: 1.1em;
      em {
        font-style: normal;
        font-weight:  400;
        color: black; 
      }
    }

    figure {
      margin: 0;
      img {
        max-width: 100%;
      }
      figcaption {
        display: none;
      }
    }
  }
}

section#about, section#services section {
  padding: 1rem;
}

section#about {
  background-color: lighten($background-color, 8%);
}

section#services section { 
  &:nth-child(even) {
    background-color: lighten($background-color, 4%);
  }
}

@media screen and (min-width: $sm-breakpoint) {

  section#about {
    display: grid;
    grid-template-columns: 40% auto;
    grid-template-areas: 
      "header ."
      "c1 ."
      ". c2";
    justify-content: space-between;

    header {
      grid-area: header;
    }

    div.text {
      grid-area: c1;
    }

    figure {
      grid-area: c2;
    }
  }

  section#services section { 
    //width:
    display: grid;
    justify-content: space-between;

    header {
      grid-area: header;
      //max-width: 480px; 
    }

    div.text {
      grid-area: c1;
    }

    figure {
      grid-area: c2;
    }

    &:nth-child(odd) {
      grid-template-columns: auto 6% 48%;
      grid-template-areas: 
      ". . header"
      "c2 . . "
      ". . c1";

      header h3 {
        text-align: right;
      }
    }

    &:nth-child(even) {
      grid-template-columns: 48% 6% auto;
      grid-template-areas: 
      "header . ."
      ". . c2"
      "c1 . .";
    }
  }
}

footer #contact {
  padding: 1em;
  margin-top: 1em;
  //background-color: lighten($background-color, 4%);
  address {
    font-style: normal;
  }
   
  em {
      font-weight: 400;
  }
}

footer #copyright {
  font-size: 0.8em;
  text-align: right;
  padding: 1em;
}

@media screen and (min-width:$sm-breakpoint) {

  footer #contact {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }

}

@media screen and (min-width: $lg-breakpoint) {
  section#about {
    grid-template-columns: 48% auto;
  }

  section#services section {
    &:nth-child(odd) {
      grid-template-columns: auto 6% 36%;
      .text, header {
        padding-right: 2.8em;
      }
      figure {
        padding-left: 2.8em;
      }
    }

    &:nth-child(even) {
      grid-template-columns: 30% 10% auto;
      .text, header {
        padding-left: 2.8em;
      }
      figure {
        padding-right: 2.8em;
      }
    }
  }
  footer #contact {
    padding-left: 2.8em;
  }
}